{% extends "layout/default.html" %}

{% block title %}All books{% endblock title %} </title>

{% block body %}


    
    <!-- -------------------------SLIDER ------------------------------>
    <!-- {% include 'layout/partials/slider.html' %} -->

    <!-- -------------------------- SEARCH------------------------- -->
    {% include "layout/partials/search_bar.html" %}
      
    {% if not books %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            
            <div class="alert alert-warning" role="alert">
                <li>{{ message }}</li> 
            </div>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
        
      {% endif %}

{% endblock body %}

    