{% extends "layout/default.html" %}

{% block title %}All books{% endblock title %} </title>

{% block body %}

    


    <!-- -------------------------- SEARCH------------------------- -->
    {% include "layout/partials/search_bar.html" %}
    
    <!-- ---------------------------- BOOK --------------------->
    {% include "layout/partials/book.html" %} 
      
 
    <!-- ------------------------------PAGINATION-------------------------------------- -->
    <ul class="pagination justify-content-center">
        <li class="page-item {{tab_prev.status}}"><a class="page-link" href="{{tab_prev.previous}}">Previous</a></li>
        <li class="page-item {{tab_next.status}}"><a class="page-link" href="{{tab_next.next}}">Next</a></li>          
    </ul>



{% endblock body %}

    