{% extends "layout/default.html" %}

{% block title %}All books{% endblock title %} </title>

{% block body %}
<div class="container ">

    
    <!-- -------------------------SLIDER ------------------------------>
    {% include 'layout/partials/slider.html' %}

    <!-- -------------------------- SEARCH------------------------- -->
    {% include "layout/partials/search_bar.html" %}
    <!-- ---------------------------- BOOK --------------------->
        
    {% include "layout/partials/book.html" %} 
      
 

</div> 

{% endblock body %}

    