Flask
Flask-Session
psycopg2-binary
SQLAlchemy

#good read api keys
# key: EGg09TETdsx6k7NS8aheJw
# secret: cvdgvOj7eVHQLSwNjEAroccNecycNVlOwymJZwUZc0

http://covers.librarything.com/devkey/6910d4a75ddcb39c675dd03b7cddf30e/large/isbn/0545010225
#library key:6910d4a75ddcb39c675dd03b7cddf30e
# import requests
# res = requests.get("https://www.goodreads.com/book/review_counts.json", params={"key": "EGg09TETdsx6k7NS8aheJw", "isbns": "9781632168146"})


#export DATABASE_URL='postgres://zyixysspleqiwj:b726f330c847e132a5034c34d28051dc5ddcf3917ec5753f1da8f78b96cac334@ec2-46-137-84-173.eu-west-1.compute.amazonaws.com:5432/d736pv9i3rkvcg'
source /home/seck/virtual_env/projet1/bin/activate
export DATABASE_URL='postgres://zyixysspleqiwj:b726f330c847e132a5034c34d28051dc5ddcf3917ec5753f1da8f78b96cac334@ec2-46-137-84-173.eu-west-1.compute.amazonaws.com:5432/d736pv9i3rkvcg'
export FLASK_ENV=development
export FLASK_APP=application.py
#https://openlibrary.org/dev/docs/api/covers