<div class="row row-cols-1 row-cols-md-3">
    {% for book  in books  %}       
    <div class="col mb-4">
        <div class="card">
            <a href="{{ url_for('book_view',id = book.id) }}"> <img src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg" class="card-img-top" alt="{{book.title}}" width="338px" height="500px"></a>
            <div class="card-body">
           <a href="{{ url_for('book_view',id = book.id) }}"> <h5 class="card-title">Title : {{book.title}}</h5></a>
            <h6 class="card-text">Author : {{book.author }}</h6>
            <h6 class="card-text">Year : {{book.year }}</h6>
            {# % include 'layout/partials/star.html' % #}
            </div>
        </div>
    </div>
    {% endfor %}      
</div>