<div class="center separator" id="search-bar">
  <form class="form-inline md-form mr-auto mb-4" method="POST" action="{{url_for('search', text=text)}}">
      <input class="form-control mr-sm-2" type="text" name='text' placeholder="Search" aria-label="Search">
      <button class="btn btn-elegant btn-rounded btn-sm my-0" type="submit">Search</button>
  </form>
</div>
<!-- 
<div class="col-md-4 offset-md-4 mt-5 border border-success pt-3">
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Search ......" aria-label="Recipient's username">
  <div class="input-group-append">
    <span class="input-group-text"><i class="fa fa-search"></i></span>
  </div>
  </div>
</div> -->

  <!-- Coded with love by Mutiullah Samim-->

    <!-- <div class="container h-100 separator">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Search...">
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div> -->
